<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav in" id="side-menu">

      <li ui-sref-active="active">
        <a ui-sref="dashboard.home">
          <i class="fa fa-home fa-fw"></i>
          Inicio</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="dashboard.order">
          <i class="fa fa-shopping-basket fa-fw"></i>
          Crear Pedido<span></span>
        </a>
      </li>

      <li ng-class="{active: collapseVar==1}">{{dropDown}}
        <a href="" ng-click="check(1)">
          <i class="fa fa-database fa-fw"></i>
          Administración<span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level" collapse="collapseVar!=1">
          <li ui-sref-active="active">
            <a ui-sref="dashboard.customers">
              <i class="fa fa-users fa-fw"></i>
              Clientes<span></span>
            </a>
          </li>

          <li ui-sref-active="active">
            <a ui-sref="dashboard.products">
              <i class="fa fa-shopping-cart fa-fw"></i>
              Productos<span></span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.ingredients">
              <i class="fa fa-balance-scale fa-fw"></i>
              Ingredientes<span></span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.category">
              <i class="fa fa-filter fa-fw"></i>
              Categorias<span></span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.units">
              <i class="fa fa-tags fa-fw"></i>
              Unidades<span></span>
            </a>
          </li>
        </ul>
      </li>
      <li ng-class="{active: collapseVar==2}">{{dropDown}}
        <a href="" ng-click="check(2)">
          <i class="fa fa-cog fa-fw"></i>
          Configuración<span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level" collapse="collapseVar!=2">
          <li ui-sref-active="active">
            <a ui-sref="dashboard.users">
              <i class="fa fa-user fa-fw"></i>
              Usuarios<span></span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.identification">
              <i class="fa fa-user-secret fa-fw"></i>
              Tipos de identificacion<span></span>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
