<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Inicio</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <stats number="{{ index.orders }}" comments="Pedidos" colour="green" type="shopping-basket" goto="dashboard"></stats>
        <stats number="{{ index.customers }}" comments="Clientes" colour="primary" type="users" goto="dashboard.customers"></stats>
        <stats number="{{ index.products }}" comments="Productos" colour="yellow" type="shopping-cart" goto="dashboard.products"></stats>
        <stats number="{{ index.ingredients }}" comments="Ingredientes" colour="red" type="balance-scale" goto="dashboard.ingredients"></stats>
    </div>

</div>
