@font-face {
    font-family: 'Titillium Web';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Titillium-Web-300/Titillium-Web-300.eot');
    src: url('../fonts/Titillium-Web-300/Titillium-Web-300.eot?#iefix') format('embedded-opentype'), local('Titillium WebLight'), local('Titillium-Web-300'), url('../fonts/Titillium-Web-300/Titillium-Web-300.woff2') format('woff2'), url('../fonts/Titillium-Web-300/Titillium-Web-300.woff') format('woff'), url('../fonts/Titillium-Web-300/Titillium-Web-300.ttf') format('truetype'), url('../fonts/Titillium-Web-300/Titillium-Web-300.svg#TitilliumWeb') format('svg');
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Titillium-Web-regular/Titillium-Web-regular.eot');
    src: url('../fonts/Titillium-Web-regular/Titillium-Web-regular.eot?#iefix') format('embedded-opentype'), local('Titillium Web'), local('Titillium-Web-regular'), url('../fonts/Titillium-Web-regular/Titillium-Web-regular.woff2') format('woff2'), url('../fonts/Titillium-Web-regular/Titillium-Web-regular.woff') format('woff'), url('../fonts/Titillium-Web-regular/Titillium-Web-regular.ttf') format('truetype'), url('../fonts/Titillium-Web-regular/Titillium-Web-regular.svg#TitilliumWeb') format('svg');
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Titillium-Web-600/Titillium-Web-600.eot');
    src: url('../fonts/Titillium-Web-600/Titillium-Web-600.eot?#iefix') format('embedded-opentype'), local('Titillium WebSemiBold'), local('Titillium-Web-600'), url('../fonts/Titillium-Web-600/Titillium-Web-600.woff2') format('woff2'), url('../fonts/Titillium-Web-600/Titillium-Web-600.woff') format('woff'), url('../fonts/Titillium-Web-600/Titillium-Web-600.ttf') format('truetype'), url('../fonts/Titillium-Web-600/Titillium-Web-600.svg#TitilliumWeb') format('svg');
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Titillium-Web-700/Titillium-Web-700.eot');
    src: url('../fonts/Titillium-Web-700/Titillium-Web-700.eot?#iefix') format('embedded-opentype'), local('Titillium WebBold'), local('Titillium-Web-700'), url('../fonts/Titillium-Web-700/Titillium-Web-700.woff2') format('woff2'), url('../fonts/Titillium-Web-700/Titillium-Web-700.woff') format('woff'), url('../fonts/Titillium-Web-700/Titillium-Web-700.ttf') format('truetype'), url('../fonts/Titillium-Web-700/Titillium-Web-700.svg#TitilliumWeb') format('svg');
}