<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Clientes</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-4">
            <buton type="button" class="btn btn-primary" ng-click="openModal()">
              <i class="fa fa-plus-circle"></i>&nbsp; Añadir
            </button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover">
            <tfoot>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Estado</th>
                <th></th>
              </tr>
            </tfoot>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in customers track by $index">
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td ng-if="item.status == 1">Activo</td>
                <td ng-if="item.status == 2">Inactivo</td>
                <td>
                  <button type="button" ng-if="item.status==1" class="btn btn-primary" ng-click="editModal(item.code)">
                    <i class="fa fa-pencil"></i>
                  </button>&nbsp;
                  <button type="button" ng-if="item.status==1" class="btn btn-danger" ng-click="changeStatus(item.code, 2)">
                    <i class="fa fa-power-off"></i>
                  </button>
                  &nbsp;
                  <button ng-if="item.status==2" type="button" class="btn btn-warning" ng-click="changeStatus(item.code,  1)">
                    <i class="fa fa-check-square-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" ng-hide="editing">Añadir cliente</h4>
        <h4 class="modal-title" id="myModalLabel" ng-show="editing">Actualizar cliente</h4>
      </div>
        <form name="customerForm" novalidate>
      <div class="modal-body">

          <div class="form-group">
            <label>Tipo de documento</label>
            <select class="form-control" ng-model="customer.identification_type" ng-options="obj._id as obj.name for obj in identifications" name="identification_type" required>
              <option value="">Seleccione tipo de documento...</option>
            </select>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon">
              <i class="fa fa-credit-card"></i>
            </span>
            <input type="text" class="form-control" placeholder="Numéro de documento" ng-model="customer.id_document" name="id_document" required>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon padding-p-1">
              <i class="fa fa-user"></i>
            </span>
            <input type="text" class="form-control" placeholder="Nombre" ng-model="customer.name" name="name" required>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon padding-p-1">
              <i class="fa fa-envelope"></i>
            </span>
            <input type="text" id="email" class="form-control" placeholder="Correo electronico" ng-model="customer.email" name="email" required>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon padding-p-2">
              <i class="fa fa-thumb-tack"></i>
            </span>
            <input type="text" class="form-control" placeholder="Dirección" ng-model="customer.address" name="address" required>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon padding-p-1">
              <i class="fa fa-phone"></i>
            </span>
            <input type="number" id="phone" class="form-control" placeholder="Teléfono fijo" ng-model="customer.phone" name="phone" required>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon padding-p-2">
              <i class="fa fa-mobile font-20"></i>
            </span>
            <input type="number" class="form-control" placeholder="Celular" ng-model="customer.mobile_phone" name="mobile_phone">
          </div>
          <div ng-show="customerForm.$submitted || form.identification_type.$touched">
            <div ng-show="customerForm.identification_type.$error.required" class="error">
              * Se requiere el tipo de documento</div>
          </div>
          <div ng-show="customerForm.$submitted || form.id_document.$touched">
            <div ng-show="customerForm.id_document.$error.required" class="error">
              * Se requiere el numero de documento</div>
          </div>
          <div ng-show="customerForm.$submitted || form.name.$touched">
            <div ng-show="customerForm.name.$error.required" class="error">
              * Se requiere el nombre</div>
          </div>
          <div ng-show="customerForm.$submitted || form.email.$touched">
            <div ng-show="customerForm.email.$error.required" class="error">
              * Se requiere el email</div>
          </div>
          <div ng-show="customerForm.$submitted || form.phone.$touched">
            <div ng-show="customerForm.phone.$error.required" class="error">
              * Se requiere el telefono</div>
          </div>
          <div ng-show="customerForm.$submitted || form.address.$touched">
            <div ng-show="customerForm.address.$error.required" class="error">
              * Se requiere la dirección</div>
          </div>
        </div>
        <div class="modal-footer margin-b-10">
          <button type="submit" class="btn btn-primary" ng-click="customerForm.$invalid || update(customer)" ng-show="editing">Actualizar</button>

          <button type="submit" class="btn btn-primary" ng-click="customerForm.$invalid || save(customer)" ng-hide="editing">Guardar</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
