<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Crear orden</h1>

        <div class="row">
            <div class="col-md-6 text-left header-bill">
                <h4 class="modal-title panel-w-title">
                Consecutivo: <span class="font-400 resalt-label"> {{consecutive}}</span></h4>
            </div>

            <div class="col-md-6 header-bill">
                <h4 class="modal-title panel-w-title text-right">
                Fecha: <span class="font-400 resalt-label"> {{currentDate}}</span></h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default" ng-click="resetCustomer()"><i class="fa fa-eraser"></i>
                        </button>
                    </div>
                    <div class="col-md-4 cen-text">
                        <h4 class="modal-title panel-w-title" id="myModalLabel">Información del cliente</h4>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" placeholder="Buscar cliente" ng-click="openCustomersModal()" tabindex="1">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="openCustomersModal()"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                <input type="text" id="cust_identification" class="form-control" placeholder="Numero identificación" ng-model="selectedCustomer.id_document" tabindex="4">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" id="cust_name" class="form-control" placeholder="Nombre" ng-model="selectedCustomer.name" tabindex="3">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group input-group">
                                <span class="input-group-addon padding-p-1"><i class="fa fa-phone"></i></span>
                                <input type="text" id="cust_phone" class="form-control" placeholder="Teléfono" ng-model="selectedCustomer.phone" tabindex="2">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group input-group">
                                <span class="input-group-addon padding-p-1"><i class="fa fa-envelope"></i></span>
                                <input type="text" id="email" class="form-control" placeholder="Correo electronico" ng-model="selectedCustomer.email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group input-group">
                                <span class="input-group-addon padding-p-2"><i class="fa fa-thumb-tack"></i></span>
                                <input type="text" id="cust_address" class="form-control" placeholder="Dirección" ng-model="selectedCustomer.address" tabindex="6">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-default" ng-click="resetDetail()"><i class="fa fa-eraser"></i>
                            </button>
                        </div>
                        <div class="col-md-4 cen-text">
                            <h4 class="modal-title panel-w-title" id="myModalLabel">Detalle orden</h4>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" placeholder="Buscar Producto" ng-click="openProductsModal()" tabindex="1">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="openProductsModal()"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <span class="input-group-addon padding-p-2"><i class="fa fa-hashtag"></i></span>
                                <input type="number" id="quantity" min="1" class="form-control font-17" placeholder="Cantidad" ng-model="selectedItem.quantity" tabindex="9">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-shopping-bag"></i></span>
                                <input type="text" id="item_price" class="form-control font-17" placeholder="Producto" ng-model="selectedItem.name" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <span class="input-group-addon padding-p-2"><i class="fa fa-tags"></i></span>
                                <input type="number" class="form-control font-17" placeholder="Precio" ng-model="selectedItem.price" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <span class="input-group-addon padding-p-2"><i class="fa fa-usd"></i></span>
                                <div class="form-control total-input cen-text" placeholder="Total" ng-model="bill.items_total">
                                    {{ ((selectedItem.quantity * 1) * (selectedItem.price * 1)) | currency:"$":0}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block" tabindex="10" ng-click="addItemOrder(selectedItem)">Agregar a la orden</button>
                </div>
            </div>
            <div class="panel-body" ng-if="orderProducts != ''">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="310" class="cen-text">Descripción</th>
                                <th width="80" class="cen-text">Cantidad</th>
                                <th width="100" class="cen-text">Precio</th>
                                <!--<th width="100" class="cen-text">Subtotal</th>
                                    <th width="80" class="cen-text">IVA</th>-->
                                <th width="100" class="cen-text">Total</th>
                                <th width="50" class="cen-text">Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in orderProducts | orderBy:'-item.index'">
                                <td>{{item.name | capitalize}}</td>
                                <td class="cen-text">{{item.quantity}}</td>
                                <td class="cen-text">{{item.price |currency:"$":0}}</td>
                                <!--<td class="cen-text">{{ ((item.quantity * 1) * (item.price * 1)) | currency:"$":0}}</td>
                                    <td class="cen-text">{{item.iva}}&nbsp;%</td>-->
                                <td class="cen-text">{{item.total |currency:"$":0}}</td>
                                <td class="cen-text">
                                    <button type="button" class="btn btn-danger" ng-click="deleteItem(item.id_index)"><i class="fa fa-close"></i>&nbsp;Borrar
                                            </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" ng-if="billProducts != ''">
                    <div class="col-md-4">
                        <!--<div class="form-group cen-text">
                                <label>Subtotal</label>
                                <input type="text" class="form-control total-input cen-text" placeholder="Subtotal" ng-value="subtotal |currency:'$':0" readonly>
                                </input>
                            </div>-->
                    </div>
                    <div class="col-md-4">
                        <!--<div class="form-group cen-text">
                                <label>Iva</label>
                                <input type="text" class="form-control total-input cen-text" placeholder="IVA" ng-value="totalIva |currency:'$':0" readonly>
                                </input>
                            </div>-->
                    </div>
                    <div class="col-md-4">
                        <div class="form-group cen-text">
                            <label>Total</label>
                            <input type="text" class="form-control total-input cen-text" placeholder="Total" ng-value="total  |currency:'$':0" readonly>
                            </input>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="billProducts != ''">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-block" tabindex="11" ng-click="saveOrder()">
                                    <i class="fa fa-print"></i>&nbsp; Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Modal pic customer-->
<div class="modal fade" id="customersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Añadir Cliente</h4>
            </div>
            <div class="modal-body">


                <div class="panel-body">
                    <div class="table-responsive table-modal">
                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover">

                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in customers track by $index">
                                    <td>{{ item.name | capitalize }}</td>
                                    <td>{{ item.email }}</td>

                                    <td>
                                        <button type="button" class="btn btn-primary" ng-click="getSelectedCustomer(item)"><i class="fa fa-check"></i>&nbsp;Añadir
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Modal pic product-->
<div class="modal fade" id="productsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Añadir Producto</h4>
            </div>
            <div class="modal-body">

                <div class="panel-body">
                    <div class="table-responsive table-modal">
                        <table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover">

                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in products track by $index">
                                    <td>{{ item.name | capitalize }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" ng-click="getSelectedProduct(item)"><i class="fa fa-check"></i>&nbsp;Añadir
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
