<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Orden</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-4">
            <buton type="button" class="btn btn-primary">
              <i class="fa fa-plus-circle"></i>&nbsp; Añadir
            </button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover">
          <tfoot>
            <tr>
              <th>Ref</th>
              <th>Nombre</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </tfoot>
          <thead>
            <tr>
              <th>Ref</th>
              <th>Nombre</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in products track by $index">
              <td>{{ item.id }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.estado }}</td>
              <td>
                <button class="btn btn-primary btn-sm" ng-show="item.estado=='Activo'" ng-click="editarProducto(item.cod_producto)">
                  <i class="fa fa-pencil"></i>
                </button>&nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
