<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Productos</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <buton type="button" class="btn btn-primary" ng-click="openModal()">
                            <i class="fa fa-plus-circle"></i>&nbsp; Añadir
                            </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover">
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in products track by $index">
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td ng-if="item.status == 1">Activo</td>
                                <td ng-if="item.status == 2">Inactivo</td>
                                <td>
                                    <button type="button" ng-if="item.status==1" class="btn btn-primary" ng-click="editModal(item.code)">
                    <i class="fa fa-pencil"></i>
                  </button>
                                    <button type="button" ng-if="item.status==1" class="btn btn-danger" ng-click="changeStatus(item.code, 2)">
                    <i class="fa fa-power-off"></i>
                  </button>
                                    <button ng-if="item.status==2" type="button" class="btn btn-warning" ng-click="changeStatus(item.code,  1)">
                    <i class="fa fa-check-square-o"></i>
                  </button>
                                    <button ng-if="item.status==1" type="button" class="btn btn-info" ng-click="ingredientModal(item.code)">
                    <i class="fa fa-balance-scale"></i>
                  </button>


                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" ng-hide="editing">Añadir producto</h4>
                <h4 class="modal-title" id="myModalLabel" ng-show="editing">Actualizar producto</h4>
            </div>
            <form name="productForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Categoria</label>
                        <select class="form-control" ng-model="product.category" ng-options="obj._id as obj.name for obj in categories" name="category" required>
              <option value="">Seleccione una categoria...</option>
            </select>
                    </div>


                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1">
              <i class="fa fa-shopping-cart"></i>
            </span>
                        <input type="text" id="name" class="form-control" placeholder="Nombre" ng-model="product.name" name="name" required>
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1">
              <i class="fa fa-usd"></i>
            </span>
                        <input type="number" id="phone" class="form-control" placeholder="Precio" ng-model="product.price" name="price" required>
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-comment"></i></span>
                        <input type="text" name="product_description" class="form-control" placeholder="Descripción" ng-model="product.description">
                    </div>
                    <div ng-show="productForm.$submitted || form.category.$touched">
                        <div ng-show="productForm.category.$error.required" class="error">
                            * Se requiere la categoria</div>
                    </div>
                    <div ng-show="productForm.$submitted || form.name.$touched">
                        <div ng-show="productForm.name.$error.required" class="error">
                            * Se requiere el nombre</div>
                    </div>
                    <div ng-show="productForm.$submitted || form.price.$touched">
                        <div ng-show="productForm.price.$error.required" class="error">
                            * Se requiere el precio</div>
                    </div>
                </div>
                <div class="modal-footer margin-b-10">
                    <button type="submit" class="btn btn-primary" ng-click="productForm.$invalid || update(product)" ng-show="editing">Actualizar</button>

                    <button type="submit" class="btn btn-primary" ng-click="productForm.$invalid || save(product)" ng-hide="editing">Guardar</button>
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                </div>
            </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<!-- Modal -->
<div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Ingredientes producto</h4>
            </div>
            <div class="modal-body">
                <form name="productIngredientForm" novalidate>

                    <div class="form-group">
                        <label>Ingrediente</label>
                        <select class="form-control" ng-model="productIngredient.ingredient" ng-options="obj._id as obj.name for obj in ingredients" name="ingredient" required>
              <option value="">Seleccione una ingrediente...</option>
            </select>
                    </div>


                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1">
              <i class="fa fa-database"></i>
            </span>
                        <input type="text" id="quantity" class="form-control" placeholder="Cantidad" ng-model="productIngredient.quantity" name="quantity" required>
                    </div>


                    <div ng-show="productIngredientForm.$submitted || form.ingredient.$touched">
                        <div ng-show="productIngredientForm.ingredient.$error.required" class="error">
                            * Se requiere el ingrediente</div>
                    </div>
                    <div ng-show="productIngredientForm.$submitted || form.quantity.$touched">
                        <div ng-show="productIngredientForm.quantity.$error.required" class="error">
                            * Se requiere la cantidad</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-block" ng-click="productIngredientForm.$invalid || addProductIngredient(productIngredient)">Agregar ingrediente</button>
                        </div>
                    </div>

                </form>
                <br>
                <div class="table-responsive table-modal">
                    <table class="table table-striped table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>Ingrediente</th>
                                <th>Cantidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="productIngredients.ingredients.length == 0">
                                <td colspan="3" class="text-center">No hay ingredientes agregados</td>
                            </tr>
                            <tr ng-repeat="item in productIngredients.ingredients track by $index" ng-if="productIngredients.ingredients.length > 0">
                                <td>{{ item.ingredient.name | capitalize }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" ng-click="deleteProductIngredient(item)"><i class="fa fa-close"></i>&nbsp;Borrar
                                            </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>