<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Unidades</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <buton type="button" class="btn btn-primary" ng-click="openModal()">
                            <i class="fa fa-plus-circle"></i>&nbsp; Añadir
                            </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover">
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Abreviación</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Abreviación</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in units track by $index">
                                <td>{{ item.name }}</td>
                                <td>{{ item.abbreviation }}</td>
                                <td ng-if="item.status == 1">Activo</td>
                                <td ng-if="item.status == 2">Inactivo</td>
                                <td>
                                    <button type="button" ng-if="item.status==1" class="btn btn-primary" ng-click="editModal(item.code)">
                    <i class="fa fa-pencil"></i>
                  </button>&nbsp;
                                    <button type="button" ng-if="item.status==1" class="btn btn-danger" ng-click="changeStatus(item.code, 2)">
                    <i class="fa fa-power-off"></i>
                  </button> &nbsp;
                                    <button ng-if="item.status==2" type="button" class="btn btn-warning" ng-click="changeStatus(item.code,  1)">
                    <i class="fa fa-check-square-o"></i>
                  </button>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="unitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" ng-hide="editing">Añadir unidad</h4>
                <h4 class="modal-title" id="myModalLabel" ng-show="editing">Actualizar unidad</h4>
            </div>
            <form name="unitForm" novalidate>
                <div class="modal-body">

                    <!-- <div class="form-group input-group">
            <span class="input-group-addon padding-p-1">
              <i class="fa fa-hashtag"></i>
            </span>
            <input type="text" id="reference" class="form-control" placeholder="Codigo" ng-model="code" readonly>
          </div> -->

                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1">
              <i class="fa fa-tags"></i>
            </span>
                        <input type="text" class="form-control" name="name" placeholder="Nombre" ng-model="unit.name" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1">
              <i class="fa fa-quote-left"></i>
            </span>
                        <input type="text" class="form-control" name="abbreviation" placeholder="Abreviación" ng-model="unit.abbreviation" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1">
              <i class="fa fa-comment"></i>
            </span>
                        <input type="text" name="description" class="form-control" placeholder="Descripción" ng-model="unit.description">
                    </div>
                    <div ng-show="unitForm.$submitted || form.name.$touched">
                        <div ng-show="unitForm.name.$error.required" class="error">
                            * Se requiere el nombre</div>
                    </div>
                    <div ng-show="unitForm.$submitted || form.abbreviation.$touched">
                        <div ng-show="unitForm.abbreviation.$error.required" class="error">
                            * Se requiere la abreviación</div>
                    </div>
                </div>
                <div class="modal-footer margin-b-10">
                    <button type="submit" class="btn btn-primary" ng-click="unitForm.$invalid || update(unit)" ng-show="editing">Actualizar</button>

                    <button type="submit" class="btn btn-primary" ng-click="unitForm.$invalid || save(unit)" ng-hide="editing">Guardar</button>
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>