<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Usuarios</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <buton type="button" class="btn btn-primary" ng-click="openModal()">
                            <i class="fa fa-plus-circle"></i>&nbsp; Añadir
                            </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover">
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Usuario</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Usuario</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in users track by $index">
                                <td>{{ item.name }}</td>
                                <td>{{ item.username }}</td>
                                <td ng-if="item.status == 1">Activo</td>
                                <td ng-if="item.status == 2">Inactivo</td>
                                <td>
                                    <button type="button" ng-if="item.status==1" class="btn btn-primary" ng-click="editModal(item.code)">
                    <i class="fa fa-pencil"></i>
                  </button>&nbsp;
                                    <button type="button" ng-if="item.status==1" class="btn btn-danger" ng-click="changeStatus(item.code, 2)">
                    <i class="fa fa-power-off"></i>
                  </button> &nbsp;
                                    <button ng-if="item.status==2" type="button" class="btn btn-warning" ng-click="changeStatus(item.code,  1)">
                    <i class="fa fa-check-square-o"></i>
                  </button>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" ng-if="!editing">Añadir usuario</h4>
                <h4 class="modal-title" id="myModalLabel" ng-if="editing">Actualizar usuario</h4>
            </div>
            <form name="userForm" novalidate>
                <div class="modal-body">
                    <!--<div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-hashtag"></i></span>
                        <input type="text" id="" class="form-control" placeholder="Codigo" ng-model="code" readonly>
                    </div>-->
                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-keyboard-o"></i></span>
                        <input type="text" class="form-control" placeholder="Nombre" ng-model="user.name" name="name" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Usuario" ng-model="user.username" name="username" required>
                    </div>
                    <div class="form-group input-group" ng-if="!editing">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-barcode"></i></span>
                        <input type="password" class="form-control" placeholder="Contraseña" ng-model="user.password" name="password" required>
                    </div>
                    <div class="form-group input-group" ng-if="editing">
                        <span class="input-group-addon padding-p-1"><i class="fa fa-barcode"></i></span>
                        <input type="password" class="form-control" placeholder="Contraseña" ng-model="user.password" name="password">
                    </div>
                    <div class="form-group">
                        <label>Rol</label>
                        <select class="form-control" ng-model="user.role" ng-options="obj.abbreviation as obj.name for obj in roles" name="rol" required>
                        <option value="">Seleccione un rol...</option>
                        </select>
                    </div>
                    <div ng-show="userForm.$submitted || form.name.$touched">
                        <div ng-show="userForm.name.$error.required" class="error">
                            * Se requiere el nombre</div>
                    </div>
                    <div ng-show="userForm.$submitted || form.password.$touched" ng-if="!editing">
                        <div ng-show="userForm.password.$error.required" class="error">
                            * Se requiere la contraseña</div>
                    </div>
                    <div ng-show="userForm.$submitted || form.username.$touched">
                        <div ng-show="userForm.username.$error.required" class="error">
                            * Se requiere el usuario</div>
                    </div>
                    <div ng-show="userForm.$submitted || form.rol.$touched">
                        <div ng-show="userForm.rol.$error.required" class="error">
                            * Se requiere el rol</div>
                    </div>
                </div>
                <div class="modal-footer margin-b-10">
                    <button type="submit" class="btn btn-primary" ng-click="userForm.$invalid || update(user)" ng-show="editing">Actualizar</button>

                    <button type="submit" class="btn btn-primary" ng-click="userForm.$invalid || save(user)" ng-hide="editing">Guardar</button>
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>