@media print {
    .prt-background {
        background-color: #DAEEF3 !important;
        -webkit-print-color-adjust: exact;
    }
    @page {
        size: letter;
        margin: 25px;
    }
    thead {
        display: table-header-group;
    }
    table {
        page-break-inside: auto
    }
    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }
    thead {
        display: table-header-group
    }
}


/**************************************/

.border-table {
    border: 1px solid #E2E2E2 !important;
}

.td-tab {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
}

.border-top-l {
    border-top: 2px solid rgb(226, 226, 226);
}

.tbody-border {
    border: 2px solid #E2E2E2 !important;
}

.tbody-border:last-child {
    border-bottom: 2px solid #E2E2E2 !important;
}

.header-table {
    display: none;
}

.tab-heder-row {
    border: 2px solid rgb(226, 226, 226) !important;
}

.tableinfo {
    width: 100%;
    border: 2px solid rgb(226, 226, 226) !important;
}

.container-bill {
    height: auto;
    width: 900px;
    margin: 0 auto;
    position: relative;
    background: white !important;
}

.div-header {
    height: 130px;
    width: 100%;
    margin: 0 auto;
}

.logo-container {
    float: left;
    padding: 15px;
}

.logo {
    width: 270px;
}

.center-x {
    left: 50%;
    transform: translateX(-50%)
}

.center-y {
    top: 50%;
    transform: translateY(-50%)
}

.info {
    color: #757575;
    -webkit-print-color-adjust: exact;
    font-size: 12px;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.items-container {
    padding: 15px;
    float: right;
    margin-right: 20px;
}

.font-14 {
    font-size: 14px;
}

.item {
    display: inline-block;
    margin: 0 3px 0 3px;
    height: 80px;
    width: 80px;
}

.item-image {
    height: 75px;
}

.main-data {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 225px;
    padding: 12px 0;
}


/*COLORS*/

.main-blue {
    color: #0092B3;
}

.dark-gray {
    color: #212121;
}

.main-nit {
    font-size: 22px;
    margin: 0 0 0 90px;
    font-weight: 100;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-header-div {
    margin-top: 25px;
    margin-bottom: 50px;
}

.items-container-div {
    padding: 15px;
    float: right;
    margin-right: 20px;
}

.float-l {
    float: left;
}

.main-info-text {
    width: 340px;
    padding: 7px;
    text-align: center;
}

.border-top-info {
    border-top: 2px solid #E2E2E2;
}

.main-text {
    font-size: 20px;
    margin: -10px 0 0 105px;
    font-weight: 100;
}

.bill-number {
    position: absolute;
    right: 140px;
    bottom: 102px;
    font-size: 11px;
    font-weight: 600;
    display: inline-block;
}

.label-bill-number {
    width: 125px;
    height: 36px;
    line-height: 3;
    background: #DAEEF3;
    margin-left: 1px;
    text-align: left;
    display: inline-block;
    padding-left: 10px;
    position: absolute;
    right: 0px;
    bottom: 92px;
    line-height: 35px;
    font-size: 20px;
    font-weight: 100;
}

.double-width {
    width: 450px;
    padding-left: 10px;
    padding-top: 6px;
    position: relative;
}

.m-top-12 {
    margin-top: 12px;
}

.pading-t-10 {
    padding-top: 10px;
    margin: 1px 0;
}

.inset-input-text {
    width: 110px;
    height: 30px;
    line-height: 2;
    background: #DAEEF3;
    margin-left: 2px;
    text-align: left;
    display: inline-block;
    padding-left: 10px;
    position: absolute;
    top: 2px;
    right: 0;
    border-bottom: 1px solid white;
}

.date-field {
    bottom: 30px !important;
}

.date-field-inset {
    bottom: 20px !important;
}

.billing-data {
    width: 100%;
    border: 2px solid #E2E2E2;
    height: 150px;
    margin-bottom: 10px;
}

.info-left {
    float: left;
    width: 20%;
    height: 100%;
    border-right: 1px solid #E2E2E2;
}

.info-right {
    float: right;
    width: 79%;
    height: 100%;
}

.info-item {
    width: 92%;
    display: block;
    color: #0092B3;
    height: 29px;
    text-align: right;
    line-height: 28px;
    font-weight: 400;
}

.info-item-r {
    width: 100%;
    display: block;
    color: #212121;
    height: 29px;
    text-align: left;
    line-height: 28px;
    font-weight: 100;
    padding-left: 10px;
}

.bill-detail {
    /*    border: 2px solid #E2E2E2;*/
    margin-top: 15px;
    width: 100%;
}

.tab-header {
    text-align: center;
    height: 32px;
    border: 2px solid #E2E2E2;
}

.tab-cell {
    color: #212121;
    height: 28px;
    border: 2px solid #E2E2E2;
    text-align: center;
}

.text-a-l {
    text-align: left !important;
    padding-left: 5px;
    line-height: 22px;
}

.bill-footer-info {
    width: 100%;
    height: 110px;
}

.footer-l {
    width: 64%;
    float: left;
}

.footer-r {
    width: 33%;
    float: right;
    border: 2px solid #E2E2E2;
    border-top: none;
}

.bill-footer-item {
    display: inline-block;
    height: 100%;
}

.footer-titles {
    float: left;
    width: 45%;
}

.footer-values {
    float: right;
    width: 55%;
}

.info-footer-values {
    width: 100%;
    display: block;
    height: 29px;
    text-align: left;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 12px;
}

.info-item-footer {
    text-align: left;
    width: 100%;
    height: 29px;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 2px;
    line-height: 28px;
}

.signatures {
    width: 100%;
    height: 140px;
    margin-top: 25px;
}

.sign {
    width: 287px;
    height: 100%;
    display: inline-block;
    margin: 0 5px;
    float: left;
    text-align: center;
}

.name-sign {
    display: block;
    padding-top: 10px;
    margin-top: 50px;
    border-top: 1px solid gray;
}

.info2 {
    position: absolute;
    right: -236px;
    transform: rotate(-90deg);
    font-size: 13px;
    font-weight: 100;
    top: 840px;
}

.height95 {
    height: 77px;
}

.no-border-b {
    border-bottom: none;
}

.position10 {
    position: relative;
    top: 3px;
}