/* Space out content a bit */

body {
    padding-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.table-modal {
    max-height: 500px;
}

.table-modal-width {
    width: 800px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/*FONTS*/

.font-red {
    color: firebrick;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.font-400 {
    font-weight: 400;
}

.font-17 {
    font-size: 17px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
}


/*POSITIONING*/

.margin-b-10 {
    margin-bottom: 10px;
}


/*UTIL*/

.cen-text {
    text-align: center;
}

.panel-w-title {
    line-height: 32px;
}

.large-sr-btn {
    padding: 8px 16px;
    background: gainsboro;
    font-size: 20px;
}

.display-inlb {
    display: inline-block;
}

.dis-inerit {
    margin-left: -8px;
    display: inline-block;
    margin-top: -5px;
}

.search-lg {
    width: 90%;
    margin-left: 10px;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


/*CREATE BILL*/

.resalt-label {
    font-size: 22px;
    color: #337ab7;
    padding: 2px 20px;
    background: #EFEBEB;
    border-radius: 5px;
}

.header-bill {
    margin-bottom: 15px;
}

.total-input {
    min-height: 45px;
    font-size: 22px;
    background: gainsboro;
}

.iva-input {
    background: white;
}

.btn-edit-iva {
    padding: 7px 16px;
    font-size: 20px;
}


/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.logo {
    height: 70px;
    position: absolute;
    z-index: 2;
}

.headerstyle {
    height: 95px;
}


/*CUSTOMERS*/

.padding-p-0 {
    padding: 6px 14px;
}

.padding-p-1 {
    padding: 6px 14px;
}

.padding-p-2 {
    padding: 6px 15px;
}

.padding-p-3 {
    padding: 6px 16px;
}

.padding-p-4 {
    padding: 6px 17px;
}

.font-20 {
    font-size: 20px !important;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.nav>li.active>a {
    text-decoration: none;
    background-color: #eee;
}

.error {
    color: red;
    font-weight: bold;
}

div.alert{
  z-index: 9999 !important;
}
